html
  head
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
    link(rel="shortcut icon" type="image/png" href="https://cdn.glitch.com/673e6efb-f778-4def-9bd6-82e26f95fc79%2Ffavicon.png?v=1587762167677")
  body
    block content